.board {
  display: inline-grid;
  margin-top: 20px;
  border: 2px solid #54514B;
}

.square {
  width: 60px;
  height: 60px;
  background-color: #FFF6E1;
  border: 1px solid grey;
  float: left;
}

.square.inRange {
  background-color: #DED6C5;
}

/* .square.validTarget {
  border: 1px solid red;
} */

.square.tile {
  background-color: #E4D5B2;
}

.square.tile.player1 {
  background-color: #E4B4B2;
}

.square.tile.player1.validTarget {
  background-color: #AF8B8A;
}

.square.tile.player2 {
  background-color: #B2C3E4;
}

.square.tile.player2.validTarget {
  background-color: #8893A9;
}

.square.selected {
  border: 1px solid #FFFE00;
}

.game.board .square.redSide {
  border-right-color: red;
}

.game.board .square.blueSide {
  border-left-color: blue;
}

.cost {
  width: 62px;
  height: 40px;
  line-height: 40px;
  background-color: #F6F4F0;
  font-size: large;
  font-weight: bold;
  color: #397E32;
  float: left;
}

.App {
  text-align: center;
  background-color: #EEE2EA;
  padding-bottom: 100px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
