#player1 {
  float: left;
  margin-left: 60px
}

#player2 {
  float: right;
  margin-right: 60px
}

#player1.myTurn {
  border: 2px solid red;
}

#player2.myTurn {
  border: 2px solid blue;
}

#player1 .playerName {
  color: red;
}

#player2 .playerName {
  color: blue;
}

.player {
  border: 2px solid #54514B;
  background-color: #F6F4F0;
  margin-top: 20px;
  padding: 0px 40px;
  width: 210px;
  height: 600px;
}

.player .usernameForm {
  margin: 40px 0px;
}

.player .playerMoney {
  font-size: 150%;
}

.player .phaseMessage {
  margin-top: 60px;
}

.player .instructionMessage {
  font-size: 90%;
}

.board {
  display: inline-grid;
  margin-top: 20px;
  border: 2px solid #54514B;
}

.loginScreen {
  display: inline-grid;
  margin-top: 20px;
}

.square {
  width: 60px;
  height: 60px;
  background-color: #FFF6E1;
  border: 1px solid grey;
  float: left;
}

.square.inRange {
  background-color: #DED6C5;
}

.square.tile {
  background-color: #E4D5B2;
}

.square.tile.player1 {
  background-color: #E4B4B2;
}

.square.tile.player1.validTarget {
  background-color: #AF8B8A;
}

.square.tile.player2 {
  background-color: #B2C3E4;
}

.square.tile.player2.validTarget {
  background-color: #8893A9;
}

.square.selected {
  border: 1px solid #FFFE00 !important;
}

.game.board .square.redSide {
  border-right-color: red;
}

.game.board .square.middle {
  border-left-color: red;
  border-right-color: blue;
}

.game.board .square.blueSide {
  border-left-color: blue;
}

.cost {
  width: 62px;
  height: 40px;
  line-height: 40px;
  background-color: #F6F4F0;
  font-size: large;
  font-weight: bold;
  color: #397E32;
  float: left;
}

.App {
  text-align: center;
  background-color: #CDC3CC;
  height: 650px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaderentry {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid #AFAFAF;
  border-style: grooved;
  font-size: 28px;
  float: left;
  text-shadow: 2px 2px grey;
    margin: 0 auto;
padding: 12px;
  /* outline: 2px groove black; */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
